header{
    background-color: #3c3c3c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:77px;
}

ul {
  padding: 0;
}

main {
    //background-color: blueviolet;
    position: absolute;
    top: 25%;
    width: 80%;
    margin-left: 10%;
}

footer{
    background-color: #464646;
    position: absolute;
    bottom: -250%;
    width: 100%;
    left: 0;
}

.user-navigation{
    width:80%;
    text-align: center;
    margin-left: 10%;
}

.user-navigation ul {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.user-navigation ul li{
    padding-right:60px;
}

.mainlogo{
    flex-grow:1;
    margin-left: -10%;
}

.nav-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:80%;
    margin-left: 11%;
}

.nav-menu ul li{
    padding-right: 15px;
}

.nav-menu{
    background-color: #f0f0f0;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

.usera a{
    color:white;
}

.tel a{
    color: #e9b637;
}

.search {
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: 97%;
    background-color:#3c3c3c;
    border-color: #FFFFFF;
    color:white;
}

.end_of_page{
    background-color:#3c3c3c;
}

.categories{
    //background-color: red;
    //position: absolute;
}

.categories ul{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.categories1 {
    background-image: url(images/laptops.png);
    height: 156px;
    width: 156px;
}

.categories2{
    background-image: url(images/periphery.png);
    height: 156px;
    width: 156px;
}

.categories3{
    background-image: url(images/accessories.png);
    height: 156px;
    width: 156px;
}

.categories4{
    background-image: url(images/routers.png);
    height: 156px;
    width: 156px;
}

.categories5{
    background-image: url(images/desk_lamp.png);
    height: 156px;
    width: 156px;
}

.categories6{
    background-image: url(images/game_simulators.png);
    height: 156px;
    width: 156px;
}

.first_slider{
    //position: absolute;
    background-color: #e9b637;
    padding: 0 30px;
    margin: -21px 0 20px 0;
    box-shadow: 5px 5px 10px gray;
}

.content_first_slider{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    //background-color: cadetblue;
}

.text_first_slider p{
    color: white;
}

.navigation_first_slider{
    padding-left: 45%;
    padding-bottom: 3%;
    //background-color: orange;
}

.brends ul{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.brends ul li:hover{
    opacity: 0.5;
}

.menu{
    position:absolute;
    width:100%;
    left: 0;
    top: 100%;
}

.top_menu{
    position:relative;
    margin:0;
    padding: 0 10% 0 10%;
    width:80%;
    height:65px;
    background-color: #f0f0f0;
}

.elem_of_top_menu{
    position:relative;
    display:flex;
    float:right;
//background-color: coral;
    z-index: 2;
}

.elem_of_top_menu:first-child{
    float: left;
    width: 60%;
//background-color: darkkhaki;
}

.elem_of_top_menu a{
    display:flex;
    padding:22px 25px 0 25px;
    font-size:15px;
    font-family:"Century Gothic", sans-serif;
    color:#3c3c3c;
    font-weight:bold;
}

.elem_of_top_menu > a:hover, .elem_of_top_menu:hover > a{
    color:#e9b637;
}

.sub_menu{
    position:absolute;
    top:100%;
    left: 8px;
    display: none;
    background-color: #f0f0f0;
    width: 100%;
}


.elem_of_top_menu:hover ul{
    display:flex;/*эта строчка реализует механизм выпадения*/
}

.sub_menu li a{
    display: flex;
    padding: 10px 80px 10px 7px;
    font-weight:normal;
    font-size: 13px;
    //background-color: burlywood ;
}

.elem_of_sub_menu:hover{
    color:#e9b637;
}
